<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no,email=no" />
		<title>购物车子页面</title>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="css/style.css" rel="stylesheet" />
	</head>

	<body>
		<div class="mui-top-nav" id="all-checkAll">
			<div class="mui-checkbox mui-left" id="quanxuanannius">
				<label>全选</label>
				<input name="s-checkAll" id="s-checkAll" type="checkbox">
			</div>
			<span class="mui-right" id="editor">编辑</span>
		</div>
		<div id="pullrefresh" class="mui-content mui-scroll-wrapper transparent">
			<div class="mui-scroll">
				<ul class="cart-list" id="cartList"></ul>
			</div>
		</div>
		<div class="cart-bottom transparent">

			<div class="cart-total-price">
				<p>合计：<span id="s-total-money">¥ 0</span></p>
				<h5>不含运费</h5>
			</div>
			<a class="submit-cart" id="submitCart">结算<span id="s-total-num"></span></a>
			<a class="deleteProducts" id="deleteProducts">删除</a>
		</div>

		<script src="js/mui.min.js"></script>
		<script src="js/delayimg.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/md5.js"></script>
		<script src="js/template.js"></script>
		<script>
			var w,
				totalMoney = document.getElementById('s-total-money'),
				totalNum = document.getElementById('s-total-num'),
				checkAll = document.querySelector('input[name="s-checkAll"]'),
				cartList = document.getElementById('cartList'),
				deleteProducts=document.getElementById('deleteProducts'),
				submitCart=document.getElementById('submitCart'),
				userkey = himall.getState().userkey;
			mui.init({
				pullRefresh: {
					container: '#pullrefresh',
					deceleration: 0.0006,
					down: {
						contentdown: "下拉可以刷新",
						contentover: "释放立即刷新",
						contentrefresh: "正在刷新...",
						callback: function() {
							setTimeout(function() {
								loadPage();
								checkAll.checked = false;
								totalMoney.innerHTML = '¥ 0.00';
								totalNum.innerHTML = '';
								mui('#pullrefresh').pullRefresh().endPulldownToRefresh();
							}, 300)
						}
					}
				},
				swipeBack: true
			});
			
			function loadPage() {
				mui.ajax(URL + 'api/Cart/GetCartProduct', {
					data: himall.md5Data({
						includeSB: 1,
						userkey: userkey
					}),
					dataType: 'json',
					type: 'get',
					timeout: 20000,
					success: function(data) {
						if(data.Shop.length <= 0) {
							document.getElementById("quanxuanannius").style.display = "none";
						}
						if(data.success) {
							if(data.Shop.length > 0 || data.ShopBranch.length > 0) {
								for(var _i = 0; _i < data.ShopBranch.length; _i++) {
									var sumnum = 0;
									var _sbitem = data.ShopBranch[_i];
									for(var _ci = 0; _ci < _sbitem.length; _ci++) {
										var _item = _sbitem[_ci];
										if(_item.Status == 0) {
											sumnum += parseInt(_item.Count);
										}
									}
									_sbitem.cartSum = sumnum;
								}
								
								cartList.innerHTML = template('initData', data);
								delayimg.init();
								mui('.mui-numbox').numbox();
							} else {
								var html = '<div class="empty-show"><h4>购物车空空如也</h4><p>去挑几件中意的商品吧</p></div>';
								document.getElementsByClassName('mui-content')[0].innerHTML = html;
								document.getElementById("all-checkAll").style.display = "none";
							}
							w.close();
							himall.removeClass(document.querySelector('.mui-content'), 'transparent');
							himall.removeClass(document.querySelector('.cart-bottom'), 'transparent');
						}
					},
					error: function(xhr) {
						w.close();
						reloadWvLoad();
					}
				});
			}
			
			mui.plusReady(function() {
				w = plus.nativeUI.showWaiting('', {padlock: true});
				plus.webview.currentWebview().setStyle({scrollIndicator: 'none'});

				loadPage();

				//添加列表项的点击事件
				mui('#cartList').on('tap', '.goods-url', function() {
					var id = this.getAttribute('data-url');
					if(id) {
						showProduct(id);
					}
				});

				mui('#cartList').on('tap', '.vshop-url', function() {
					var vshopid = this.getAttribute('data-url');
					if(vshopid == 0) {
						plus.nativeUI.toast('该店铺暂未开通微店')
					} else {
						himall.openVW('vshop-detail.html', {
							vshopId: vshopid
						})
					}
				});
				mui('#cartList').on('tap', '.vshop-url1', function() {

					var shopBranchId = this.getAttribute('data-url');
					if(shopBranchId == 0) {

					} else {
						himall.openVW('store-home.html', {
							shopid: shopBranchId
						});
					}
				});
				mui('#cartList').on('tap', '.mui-media-list', function() {
					if(!isClickNum){
						return;
					}
					var shopBranchId = this.getAttribute('data-url');
					if(shopBranchId) {
 						himall.openVW('store-home.html', {
							shopid: shopBranchId,
							showcart:true
						});
					}
				});

				document.getElementById('submitCart').addEventListener('tap', function() {
					checkPhone(function(){
						setTimeout(function() {
							var checkPro = cartList.querySelectorAll('input[name="checkItem"]:checked');
							if(checkPro.length > 0) {
								var skuArr = [],
									cartidArr = [],
									data;
								mui('#cartList input[name="checkItem"]:checked').each(function() {
									skuArr.push({
										skuId: this.parentNode.getAttribute('data-skuid'),
										count: this.parentNode.querySelector('input[type="number"]').value
									});
									cartidArr.push(this.parentNode.getAttribute('data-cartid'));
								});
								var strCartItems = '';
								strCartItems = (cartidArr && cartidArr.join(','));
								w = plus.nativeUI.showWaiting('', {padlock: true});
								mui.ajax(URL + 'api/Cart/PostUpdateCartItem', {
									data: himall.md5Data({
										jsonStr: JSON.stringify({
											skus: skuArr
										}),
										userkey: userkey
									}),
									dataType: 'json',
									type: 'POST',
									timeout: 20000,
									success: function(data) {
										if(data.success) {
											mui.ajax(URL + 'api/Cart/GetLadderMintMath',{
												data:himall.md5Data({
													cartItemIds:strCartItems,
													userkey: userkey
												}),
												dataType: 'json',
												type: 'get',
												timeout: 20000,
												success: function(data) {
													w.close();
													if(data.success){
														himall.openVW('order-submit.html', {
															cartItemId: cartidArr.join(',')
														});
													}else{
														plus.nativeUI.toast(data.msg);
													}
												},
												error: function(xhr) {
													w.close();
													plus.nativeUI.toast('结算失败，请检查网络');
												}
											});										
										} else {
											w.close();
											plus.nativeUI.toast('结算失败，'+data.msg);
										}
									},
									error: function(xhr) {
										plus.nativeUI.toast('结算失败，请检查网络')
									}
								});
							} else {
								plus.nativeUI.toast('请至少选择一件宝贝')
							}
						}, 100)
					});
				});
			});

			document.addEventListener('updateData', function() {
				loadPage();
				checkAll.checked = false;
				totalMoney.innerHTML = '¥ 0.00';
				totalNum.innerHTML = '';
			});
			var isClickNum = true;
			document.getElementById("editor").addEventListener("tap", function() {
				var yc = document.getElementsByClassName("mui-numbox");
				var delyc = document.getElementsByClassName('mui-icon-trash'),
					counsst=document.getElementsByClassName("counsst"),
					tmp;
				if(isClickNum) {
					this.innerHTML = "保存";
					for(var i = 0; i < counsst.length; i++) {
						yc[i].style.display = "block";
						if(counsst[i]){
							counsst[i].style.display = "none";
						}
					}
					for(var j = 0; j < delyc.length; j++) {
						delyc[j].style.display = "block";
					}
					submitCart.style.display = "none";
					deleteProducts.style.display = "block";

					isClickNum = !isClickNum;
				} else {
					this.innerHTML = "编辑";
					for(var i = 0; i < counsst.length; i++) {
						yc[i].style.display = "none";
						tmp = yc[i].querySelector('.mui-numbox-input').value;
						yc[i].querySelector('.mui-numbox-input').value=tmp==0?1:tmp;
						counsst[i].querySelector('span').innerText=yc[i].querySelector('.mui-numbox-input').value;
						counsst[i].style.display = "block";
						
					}
					for(var j = 0; j < delyc.length; j++) {
						delyc[j].style.display = "none";
					}
					submitCart.style.display = "block";
					deleteProducts.style.display = "none";

					isClickNum = !isClickNum;
					mui('#cartList input[name="checkItem"]:checked').each(function() {
						getChangeShopPrice(this);
					});
				}
			});
			mui('#cartList').on('tap', '.mui-icon-trash', function(event) {
				event.stopPropagation();
				var _this = this,
					btnArray = ['取消', '确认'];
				mui.confirm('确认删除该条宝贝？', '', btnArray, function(e) {
					if(e.index == 1) {
						if(_this.parentNode.getAttribute('data-skuid')) {
							var skuId = _this.parentNode.getAttribute('data-skuid'),
								data = {
									skuIds: skuId,
									userkey: userkey
								},
								urls = URL + 'api/Cart/PostDeleteCartProduct';
							var isdage = true;
							var types = 'POST';
						} else {
							var skuId = _this.parentNode.getAttribute('data-shopBranchId'),
								data = {
									shopBranchId: skuId,
									userkey: userkey
								},
								urls = URL + 'api/BranchCart/GetClearBranchCartProducts';
							var isdage = true;
							var types = 'GET';
						}
						delecart(isdage, data, _this, urls, types);
					}
				});

			});
			document.getElementById("deleteProducts").addEventListener('tap', function() {
				setTimeout(function() {
					var checkPro = cartList.querySelectorAll('input[name="checkItem"]:checked');
					if(checkPro.length > 0) {
						var _this = this,
							btnArray = ['取消', '确认'];
						mui.confirm('确认删除宝贝？', '', btnArray, function(e) {
							if(e.index == 1) {
								var skuArr = [];
								mui('#cartList input[name="checkItem"]:checked').each(function() {

									skuArr.push(
										this.parentNode.getAttribute('data-skuid')
									);
								});
								var data = {
									skuIds: skuArr.toString(),
									userkey: userkey
								};
								urls = URL + 'api/Cart/PostDeleteCartProduct';
								var isdage = false;
								var types = 'POST';
								delecart(isdage, data, _this, urls, types);
							}
						});
					} else {
						plus.nativeUI.toast('请至少选择一件宝贝');
					}
				}, 100)
			});
			mui('#cartList').on('tap', '.j_numbox', function() {
				var skuArr = [];
				var that=this,
					numberText=this.parentNode.querySelector('input[type="number"]');
				skuArr.push({
					skuId: this.getAttribute('data-skuid'),
					count: numberText.value
				});
				//siblings(this.parentNode, '.counsst')[0].innerHTML = "数量:" + numberText.value;
				mui.ajax(URL + 'api/Cart/PostUpdateCartItem', {
					data: himall.md5Data({
						jsonStr: JSON.stringify({
							skus: skuArr
						}),
						userkey: userkey
					}),
					dataType: 'json',
					type: 'POST',
					timeout: 10000,
					success: function(data) {
						if(data.success) {							
							if(data.IsOpenLadder==1){
							mui('input[type="number"]').each(function(){								
								var skuid = this.getAttribute('data-skuid');
								if(skuid.indexOf(data.ProductId) > -1)
								{
									this.parentNode.parentNode.querySelector('em').innerText = data.Price;
									getChangeShopPrice(that.parentNode.parentNode.parentNode);
								}
							});
							}
						}else{
							plus.nativeUI.toast(data.msg);
							numberText.value=data.data.maxBuyCount;
						}
					},
					error: function(xhr) {
						plus.nativeUI.toast('请求失败，请检查网络')
					}
				});
			});
			mui(document).on('change', 'input[name="s-checkAll"]', function() {
				var _this = this;
				setTimeout(function() {
					var checked = _this.checked,
						checkBox = cartList.querySelectorAll('input[type="checkbox"]:enabled');
					for(var i = 0; i < checkBox.length; i++) {
						checkBox[i].checked = checked;
					}

					if(checked) {

						mui('#cartList li').each(function() {
							var t = 0,
								c = 0,
								item = this.querySelectorAll('.cart-list-goods');
							for(var j = 0; j < item.length; j++) {
								var a = item[j].querySelector('em').innerText;
								c = item[j].querySelector('input[type="number"]').value;
								t += (+a) * c;
							}

							this.getElementsByClassName('cart-shop-price').innerText = '¥' + t.toFixed(2)
						})

						totalMoney.innerHTML = getCheckProductPrice();
						totalNum.innerHTML = getCheckProductCount();
					} else {
						totalMoney.innerHTML = '¥ 0.00';
						totalNum.innerHTML = '';
						var shopPrice = document.getElementsByClassName('cart-shop-price');
						for(var k = 0; k < shopPrice.length; k++) {
							shopPrice[k].innerText = '';
						}
					}
				}, 50)
			});

			mui('#cartList').on('change', 'input[name="checkShop"]', function() {
				var _this = this;
				setTimeout(function() {
					var checked = _this.checked,
						checkBox = _this.parentNode.parentNode.querySelectorAll('input[name="checkItem"]:enabled');
					for(var i = 0; i < checkBox.length; i++) {
						checkBox[i].checked = checked;
					}

					var allShopChecked = true;
					mui('#cartList input[type="checkbox"]:enabled').each(function() {
						if(!this.checked) {
							allShopChecked = false;
						}
					});
					if(allShopChecked) {
						checkAll.checked = true;
					} else {
						checkAll.checked = false;
					}

					var t = 0,
						c = 0,
						item = siblings(_this.parentNode);
					for(var j = 0; j < item.length; j++) {
						if(item[j].querySelector('input[name="checkItem"]:checked')) {
							var a = item[j].querySelector('em').innerText;
							c = item[j].querySelector('input[type="number"]').value;
							t += (+a) * c;
						}
					}
					if(t != 0) {
						siblings(_this)[0].querySelector('.cart-shop-price').innerHTML = '¥' + t.toFixed(2);
					} else {
						siblings(_this)[0].querySelector('.cart-shop-price').innerHTML = '';
					}

					totalMoney.innerHTML = getCheckProductPrice();
					totalNum.innerHTML = getCheckProductCount();
				}, 50)
			});

			mui('#cartList').on('change', 'input[name="checkItem"]', function() {
				var _this = this;
				setTimeout(function() {
					var checked = _this.checked;
					//判断店铺下的所有商品是否全选中
					var allProductChecked = true;

					var item = _this.parentNode.parentNode.querySelectorAll('input[name="checkItem"]:enabled');
					for(var i = 0; i < item.length; i++) {
						if(!item[i].checked)
							allProductChecked = false;
					}

					if(allProductChecked) {
						siblings(_this.parentNode)[0].querySelector('input[name="checkShop"]').checked = true;
					} else {
						siblings(_this.parentNode)[0].querySelector('input[name="checkShop"]').checked = false;
					}

					//判断所有店铺是否都选中了
					var allShopChecked = true;
					mui('#cartList input[name="checkItem"]:enabled').each(function() {
						if(!this.checked) {
							allShopChecked = false;
						}
					});
					if(allShopChecked) {
						checkAll.checked = true;
					} else {
						checkAll.checked = false;
					}

					getChangeShopPrice(_this);
				}, 50)

			});

			mui('#cartList').on('change', 'input[type="number"]', function() {
				NumberChange(this);
			});
			
			function NumberChange(that){
				var skuArr = [];
				//var that=this;
				skuArr.push({
					skuId: that.getAttribute('data-skuid'),
					count: that.value
				});
				mui.ajax(URL + 'api/Cart/PostUpdateCartItem', {
					data: himall.md5Data({
						jsonStr: JSON.stringify({
							skus: skuArr
						}),
						userkey: userkey
					}),
					dataType: 'json',
					type: 'POST',
					timeout: 10000,
					success: function(data) {
						if(data.success) {							
							if(data.IsOpenLadder==1){
								var skuid = that.getAttribute('data-skuid');
								if(skuid.indexOf(data.ProductId) > -1)
								{
									that.parentNode.parentNode.querySelector('em').innerText = data.Price;
									if(siblings(that.parentNode.parentNode.parentNode, 'input[name="checkItem"]')[0].checked) {
										setTimeout(function() {
											getChangeShopPrice(that.parentNode.parentNode.parentNode);
										}, 50)
									}
								}
							}
						}else{
							plus.nativeUI.toast(data.msg);
							that.value=data.data.maxBuyCount;
						}
					},
					error: function(xhr) {
						plus.nativeUI.toast('请求失败，请检查网络')
					}
				});				
			}

			function getChangeShopPrice(el) {
				var t = 0,
					c = 0,
					checkItem = el.parentNode.parentNode.querySelectorAll('input[name="checkItem"]:checked');
				for(var i = 0; i < checkItem.length; i++) {
					var a = siblings(checkItem[i])[0].querySelector('em').innerText;
					c = siblings(checkItem[i])[0].querySelector('input[type="number"]').value;
					t += (+a) * c;
				}
				if(t != 0) {
					el.parentNode.parentNode.querySelector('.cart-shop-price').innerText = '¥' + t.toFixed(2);
				} else {
					el.parentNode.parentNode.querySelector('.cart-shop-price').innerText = '';
				}

				totalMoney.innerHTML = getCheckProductPrice();
				totalNum.innerHTML = getCheckProductCount();
			}

			function getCheckProductPrice() {
				var t = 0,
					c = 0,
					item = document.querySelectorAll('input[name="checkItem"]:checked');
				for(var i = 0; i < item.length; i++) {
					var a = siblings(item[i])[0].querySelector('em').innerText;
					c = siblings(item[i])[0].querySelector('input[type="number"]').value;
					t += (+a) * c;
				}
				t = '¥ ' + t.toFixed(2);
				return t;
			}

			function getCheckProductCount() {
				var t = 0,
					c = 0,
					item = document.querySelectorAll('input[name="checkItem"]:checked');
				for(var i = 0; i < item.length; i++) {
					c = siblings(item[i])[0].querySelector('input[type="number"]').value;
					t += parseInt(c);
				}
				t = '(' + t + ')';
				return t;
			}

			function delecart(isdage, data, _this, urls, types) {
				mui.ajax(urls, {
					data: himall.md5Data(data),
					dataType: 'json',
					type: types,
					timeout: 10000,
					success: function(data) {
						if(data.success) {
							if(isdage) {
								var parentN = _this.parentNode.parentNode,
									_thisCheck=siblings(_this, 'input[name="checkItem"]')[0],
									flag = _thisCheck?_thisCheck.checked:false;
								if(parentN.querySelectorAll('.cart-list-goods').length <= 1) {
									if(mui('#cartList li').length <= 1) {
										document.getElementsByClassName('mui-content')[0].innerHTML = '<div class="empty-show"><h4>购物车空空如也</h4><p>去挑几件中意的商品吧</p></div>';
										document.getElementById("all-checkAll").style.display = "none";
									} else {
										parentN.parentNode.removeChild(parentN);
									}
								} else {
									_this.parentNode.parentNode.removeChild(_this.parentNode);
								}
								plus.nativeUI.toast('删除宝贝成功');
								//location.reload();
								
								if(mui('input[type="number"]')!=null && mui('input[type="number"]').length>0){
									//NumberChange(mui('input[type="number"]')[0]);
									mui('input[type="number"]').each(function(){
										NumberChange(this);
									});
								}
							} else {
								plus.nativeUI.toast('删除宝贝成功');
								plus.webview.currentWebview().reload();
							}
							if(flag)
								getChangeShopPrice(parentN.querySelector('input[name="checkShop"]'));

						} else {
							plus.nativeUI.toast(data.msg);
						}

					},
					error: function(xhr) {
						plus.nativeUI.toast('请求失败，请检查网络')
					}
				});
			}
			
			function checkPhone(callback){
				var w=plus.nativeUI.showWaiting('',{padlock:true});
				mui.ajax(URL+'api/UserCenter/IsConBindSms',{
					data:himall.md5Data({userkey:himall.getState().userkey}),
					dataType:'json',
					type:'post',
					timeout:10000,
					success:function(data){
						w.close();
						if(data.success===false){
							plus.nativeUI.toast('为了账号安全，购买时需要绑定手机号');
							himall.openVW('bind-phone.html');
						}else{
							callback();
						}
					},
					error:function(xhr){
						w.close();
						plus.nativeUI.toast('请求失败，请检查网络');
					}
				});
			}
		</script>

		<script type="text/html" id="initData">
			{{each Shop as shop i}}
				<li class="mui-input-group">
					<div class="mui-checkbox mui-left cart-list-shop">
						<div class="cart-shop"><span class="cart-shop-price"></span>
							<a class="vshop-url" data-url="{{shop[0].VShopId}}"><i class="iconfont icon-dianpu"></i>{{shop[0].ShopName}}</a>
						</div>
						<input name="checkShop" type="checkbox">
					</div>
					{{each shop}}
						{{if $value.Status == 0}}
							<div class="mui-checkbox mui-left cart-list-goods" data-skuid="{{$value.SkuId}}" data-cartid="{{$value.CartItemId}}">
								<div class="cart-goods">
									<a class="goods-url goods-img" data-url="{{$value.Id}}"><img src="images/blank.gif" data-delay="{{$value.ImgUrl}}" /></a>
									<div class="cart-goods-detail">
										<p><span>¥<em>{{$value.Price}}</em></span>
											<a class="goods-url" data-url="{{$value.Id}}">{{$value.Name}}</a>
										</p>
										<h5>
											{{if $value.Size!=''&& $value.Size!=null}}
												{{$value.SizeAlias}}：{{$value.Size}}&nbsp;&nbsp;
											{{/if}}
											{{if $value.Color!=''&& $value.Color!=null}}
												{{$value.ColorAlias}}：{{$value.Color}}&nbsp;&nbsp;
											{{/if}}
											{{if $value.Version!=''&& $value.Version!=null}}
												{{$value.VersionAlias}}：{{$value.Version}}
											{{/if}}
										</h5>
										<div class="counsst">数量:<span>{{$value.Count}}</span></div>
										<div class="mui-numbox none" data-numbox-min="1">
											<button class="mui-btn mui-numbox-btn-minus j_numbox" type="button" data-skuid="{{$value.SkuId}}">-</button>
											<input class="mui-numbox-input" type="number" value="{{$value.Count}}" data-skuid="{{$value.SkuId}}" />
											<button class="mui-btn mui-numbox-btn-plus j_numbox" type="button" data-skuid="{{$value.SkuId}}">+</button>
										</div>
									</div>
								</div>
								<input name="checkItem" type="checkbox" />
								<i class="mui-icon mui-icon-trash none"></i>
							</div>
						{{else}}
							<div class="mui-checkbox mui-left cart-list-goods mui-disabled" data-skuid="{{$value.SkuId}}">
								<div class="cart-goods">
									<a class="goods-url goods-img" data-url="{{$value.Id}}"><img style="opacity:0.5!important" src="images/blank.gif" data-delay="{{$value.ImgUrl}}" /></a>
									<div class="cart-goods-detail">
										<p><span>¥<em>{{$value.Price}}</em></span><a class="goods-url" data-url="{{$value.Id}}">{{$value.Name}}</a></p>
										{{if $value.Status == 2}}
										<h5>已售罄</h5>
										{{else}}
											{{if $value.Status == 3}}
											<h5>已下架</h5>
											{{else}}
											<h5>已失效</h5>
											{{/if}}
										{{/if}}
										<div class="mui-numbox none" data-numbox-min="0" data-numbox-max="0">
											<button class="mui-btn mui-numbox-btn-minus j_numbox" type="button" data-skuid="{{$value.SkuId}}" disabled>-</button>
											<input class="mui-numbox-input" type="number" value="0" disabled data-skuid="{{$value.SkuId}}" />
											<button class="mui-btn mui-numbox-btn-plus j_numbox" type="button" data-skuid="{{$value.SkuId}}" disabled>+</button>
										</div>
									</div>
								</div>
								<input name="checkItem" type="checkbox" disabled />
								<i class="mui-icon mui-icon-trash none"></i>
							</div>
						{{/if}}
					{{/each}}
				</li>
			{{/each}}
			{{each ShopBranch as store}}
				<li class="mui-input-group mui-media-list"  data-url="{{store[0].ShopBranchId}}">
					<div class="mui-checkbox mui-left cart-list-shop  mui-navigate-right">
						<div class="cart-shop cart-shop1"><span class="cart-shop-price"></span>
							<a class="vshop-url1" data-url="{{store[0].ShopBranchId}}"><i class="iconfont icon-dianpu"></i>{{store[0].ShopBranchName}}</a>
						</div>
					</div>
					<ul class="cartstore_c" data-shopBranchId="{{store[0].ShopBranchId}}">
						{{each store as proitem index}}
							{{if index<4}}
								<li data-skuid="{{proitem.SkuId}}">
									<div class="pic">
										<a class="goods-url goods-img" data-urls="{{proitem.Id}}"><img src="images/blank.gif" data-delay="{{proitem.ImgUrl}}" /></a>
										{{if proitem.Status == 2}}
										<span class="invalid">已售罄</span>
										{{else if proitem.Status == 3}}
										<span class="invalid">已下架</span>
										{{else if proitem.Status == 1}}
										<span class="invalid">已失效</span>
										{{/if}}
									</div>
									<div class="price">￥{{proitem.Price}}</div>
								</li>
							{{else if index==4}}
								<li class="w5"><div class="more">...</div></li>
								<li class="w15"><div class="fonts">共{{store.cartSum}}件</div></li>
							{{/if}}
						{{/each}}
						<i class="mui-icon mui-icon-trash none"></i>
					</ul>
				</li>
			{{/each}}
		</script>

	</body>

</html>